<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
    <link rel="stylesheet" href="static/images.css">
    
</head>
<body>
    <div id="container">
        <div id="nav-links">
            <a href="/cloudidentify" class="white-link"><h1>Image Gallery</h1></a>
        </div>
    <div id="table-container">
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Description</th>
                <th>Date and Time</th>
                <th>Image Link</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
            <tr>
                <td><img class="thumbnail" src="{{ image['Image'] }}" alt="Image"></td>
                <td>{{ image['ImageDescription'] }}</td>
                <td>{{ image['DateAndTime'] }}</td>
                <td><a href="{{ image['ImageLink'] }}">Download</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</body>
</html>
